# Core functionality - changes here should be rare!
/src/app.py                   @pragadees196
/src/backend/database.py      @pragadees196
/src/backend/routers/auth.py  @pragadees196

# The frontend will need refactored soon to be more object oriented.
/src/static/   @pragadees196
